<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>euVin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/nav-bar.css" />
    <link rel="stylesheet" href="/CSS/start-space.css" />
    <link rel="stylesheet" href="/CSS/about-us.css" />
    <link rel="stylesheet" href="/CSS/about-app.css" />
    <link rel="stylesheet" href="/CSS/start-activity.css" />
    <link rel="stylesheet" href="/CSS/footer.css" />
  </head>
  <body>
    <header>
      <div class="container-nav">
        <div class="logo">
          <img id="logo" src="/assets/logo.svg" alt="" />
        </div>
        <nav>
          <ul class="nav-buttons">
            <li><a href="/index" class="nav-links">Despre noi</a></li>
            <li><a href="#" class="nav-links">Despre aplicație</a></li>
            <li><a href="/organizer" class="nav-links">Cabinet personal</a></li>
            <li><a href="/event" class="nav-links">Adauga eveniment</a></li>
          </ul>
          <div class="hamb-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </div>
    </header>
    <main role="main">
      <div class="start-space">
        <h2><strong>Bine ați venit!</strong></h2>
      </div>
      <div class="about-us">
        <h3>Despre noi</h3>
        <p>
          Bun venit pe aplicația noastră, această aplicație se ocupă cu
          gestionarea evenimentelor de către organizator
        </p>
      </div>
      <div class="font-app">
        <div class="about-app">
          <h4>Aplicația pentru oamenii vârstinici</h4>
          <div class="content-about-app">
            <img src="/assets/interface-app.png" alt="image-with-app" />
            <p>
              Aplicația este specializata pentru a ușura utilizarea aplicației,
              cu o manipulare minimă
            </p>
          </div>
        </div>
      </div>

      <div class="start-activity">
        <h5>Începe activitatea ta de organizator</h5>
        <div class="btns">
          <button id="create-btn">
            <a href="personal-cabin.html">Creare cont</a>
          </button>
          <button id="entry-btn">Intrare cont</button>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="/JS/hambMenu.js"></script>
  </body>
</html>
