
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/login.css">
    <title>Login</title>
</head>
<body>
    <div class="reg-main">

        <div class="left">
        </div>
  
        <div class="right">

         <div class="data_form">
            <p class="main_text">Login account</p>
            <p class ="main_text_desc">Or Login using email & password</p>
            <hr />
             <form class="form" action="">
              <label htmlFor="">Username</label>
              <input type="text" name='username' />
              <label htmlFor="">Password</label>
              <input type="text"  name='password' />
              <button id='btn-reg' >Login</button>
             </form>
             <p style="color: #5e5c5c;" >You don't have an account ? <a href="/register">Register</a> !</p>

          </div>

        </div>
        
      </div>
</body>
</html>




