
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/register.css">
    <title>Register</title>
</head>
<body>
    <div class="reg-main">

        <div class="left">
        </div>
  
        <div class="right">

         <div class="data_form">
            <p class="main_text">Register account</p>
            <p class ="main_text_desc">Or Login using email & password</p>
            <hr />
             <form action="" method="post">
              <label htmlFor="">Nume</label>
              <input type="text" name="name" placeholder="Nume" required="required"/>
              <label htmlFor="">Prenume</label>
              <input type="text" name="surname" placeholder="Prenume" required="required"/>
              <label htmlFor="">Email</label>
              <input type="text"name="email" placeholder="Email" required="required"/>
              <label htmlFor="">Password</label>
              <input type="text"name="password" placeholder="Password" required="required"/>
              <button type="submit" id='btn-reg' >Register</button>
             </form>
             <p style="color: #5e5c5c;" >You have an account ? <a href="/login">Login</a>!</p>
          </div>

        </div>
        
      </div>
</body>
</html>




